BASE_URL=https://your-domain.com
LOGIN_ENDPOINT=/master/api/chos/login
APPOINTMENTS_BY_CHO_ENDPOINT=/appointment/api/appointments/cho/
CHO_APPOINTMENTS_ENDPOINT=/appointment/api/appointments/cho-appointments
